docs/imlk.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cimlk="http://cimlk.nl/1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0" elementFormDefault="qualified" targetNamespace="http://cimlk.nl/1.0" version="">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/gmlsf/2.0" schemaLocation="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <annotation>
    <appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
      <gmlsf:ComplianceLevel>2</gmlsf:ComplianceLevel>
    </appinfo>
  </annotation>
  <element name="FeatureCollectionIMLK" type="cimlk:FeatureCollectionIMLKType" substitutionGroup="gml:AbstractGML"/> 
  <complexType name="FeatureCollectionIMLKType"> 
    <complexContent> 
	  <extension base="gml:AbstractFeatureType">
	    <sequence minOccurs="1" maxOccurs="unbounded">
		  <element name="featureMember"> 
		    <complexType>
			  <complexContent>
			    <extension base="gml:AbstractFeatureMemberType"> 
				  <sequence> 
				    <element ref="gml:AbstractFeature"/>
				  </sequence>
				</extension>
			  </complexContent>
			 </complexType>
		  </element> 
		</sequence>
	  </extension> 
	</complexContent> 
  </complexType>  
  <element name="AanvullendeTechniek" substitutionGroup="gml:AbstractFeature" type="cimlk:AanvullendeTechniekType">
    <annotation>
      <documentation>Beschrijving van de aanvullende maatregelen die zijn genomen om de emissie te beperken.</documentation>
    </annotation>
  </element>
  <complexType name="AanvullendeTechniekType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="cimlk:NEN3610IDPropertyType">
            <annotation>
              <documentation>De unieke identificatie van een aanvullende techniek. Deze bevat de code van de aanvullende techniek zoals vastgesteld in de Regeling Ammoniak en Veehouderij.</documentation>
            </annotation>
          </element>
          <element name="omschrijving" type="string">
            <annotation>
              <documentation>Een beschrijving van de RAV maatregel.</documentation>
            </annotation>
          </element>
          <element name="reductiefactorPM10" type="double">
            <annotation>
              <documentation>De fractie waarmee de PM10 emissies behorende bij de code voor de aanvullende techniek worden verlaagd.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AanvullendeTechniekPropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:AanvullendeTechniek"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="BebouwingstypeType">
    <annotation>
      <documentation>Een waardelijst die verschillende vormen van bebouwing naast een weg beschrijft.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>Brede streetcanyon: Aan beide zijden van de weg min of meer aaneengesloten bebouwing op een afstand van maximaal 60 meter van de wegas, waarbij de afstand tussen wegas en gevel kleiner is dan drie maal de hoogte van de bebouwing, maar groter is dan 1,5 x de hoogte van de bebouwing (brede streetcanyon).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>Smalle streetcanyon: Aan beide zijden van de weg min of meer aaneengesloten bebouwing op een afstand van maximaal 60 meter van de weg, waarbij de afstand tussen wegas en gevel kleiner is dan 1,5 x de hoogte van de bebouwing.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>Eenzijdig bebouwd: Aan één zijde min of meer aaneengesloten bebouwing op een afstand van maximaal 60 meter van de wegas, waarbij de afstand tussen wegas en gevel kleiner is dan 3 x de hoogte van de bebouwing.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>Basistype: Wegen in een stedelijke omgeving anders dan type 1, 2, 3.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="Correctie" substitutionGroup="gml:AbstractFeature" type="cimlk:CorrectieType">
    <annotation>
      <documentation>Een bestuurlijke beslissing waarin een correctie op concentraties is gedefinieerd.</documentation>
    </annotation>
  </element>
  <complexType name="CorrectieType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="cimlk:NEN3610IDPropertyType">
            <annotation>
              <documentation>De unieke identificatie van een correctiegebied.</documentation>
            </annotation>
          </element>
          <element name="naam" type="string">
            <annotation>
              <documentation>Een verzameling woorden die praktisch worden gebruikt om een correctie te duiden.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="correctietermen">
            <annotation>
              <documentation>Numerieke waardes voor de correcties voor specifieke stoffen.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="cimlk:Correctieterm"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="tijdstipRegistratie" type="dateTime">
            <annotation>
              <documentation>Tijdstip waarop deze versie van het informatieobject is opgenomen in de registratie.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="geometrie" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>Geometrie die de ligging en vorm van het correctiegebied beschrijft.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="receptor" type="cimlk:ReceptorWegverkeerPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CorrectiePropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:Correctie"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Correctieterm" substitutionGroup="gml:AbstractGML" type="cimlk:CorrectietermType">
    <annotation>
      <documentation>Een numerieke waarde voor de correctie voor een specifieke stof.</documentation>
    </annotation>
  </element>
  <complexType name="CorrectietermType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="stof" type="cimlk:WegverkeerStofType">
            <annotation>
              <documentation>De stof waar de correctie effect op heeft.</documentation>
            </annotation>
          </element>
          <element name="correctie" type="double">
            <annotation>
              <documentation>Absolute correctie van de berekende concentratie.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CorrectietermPropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:Correctieterm"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Emissiespecificatie" substitutionGroup="gml:AbstractObject" type="cimlk:EmissiespecificatieType">
    <annotation>
      <documentation>Een verzameling kenmerken van een veehouderijbron die relevant is om de hoeveelheid emissie van die veehouderijbron te bepalen.</documentation>
    </annotation>
  </element>
  <complexType name="EmissiespecificatieType">
    <sequence>
      <element name="aantalDieren" type="integer">
        <annotation>
          <documentation>Aantal dieren dat met het geselecteerde staltype in de stal gehouden wordt.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="eigenEmissiefactorPM10" type="integer">
        <annotation>
          <documentation>De zelf bepaalde emissiefactor indien wordt afgeweken van het standaard huisvestingssysteem waardoor er geen standaard emissiefactor beschikbaar is.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="eigenReductiefactorPM10" type="double">
        <annotation>
          <documentation>De zelf bepaalde reductiefactor indien wordt afgeweken van de standaard maatregelen waardoor er geen standaard reductiefactor beschikbaar is.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="eigenFactorToelichting" type="string">
        <annotation>
          <documentation>Een beschrijving die aangeeft hoe de emissiefactor en/of reductiefactor is bepaald wanneer wordt afgeweken van respectievelijk het standaard huisvestingssysteem of de standaard maatregel.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="opmerking" type="string">
        <annotation>
          <documentation>Opmerkingen die betrekking hebben op de ingevulde waarden.</documentation>
        </annotation>
      </element>
      <element name="huisvestingssysteem" type="cimlk:HuisvestingssysteemPropertyType"/>
      <element minOccurs="0" name="aanvullendeTechniek" type="cimlk:AanvullendeTechniekPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="EmissiespecificatiePropertyType">
    <sequence>
      <element ref="cimlk:Emissiespecificatie"/>
    </sequence>
  </complexType>
  <element name="Huisvestingssysteem" substitutionGroup="gml:AbstractFeature" type="cimlk:HuisvestingssysteemType">
    <annotation>
      <documentation>Beschrijving van het soort stalsysteem dat wordt gebruikt om de dieren te houden zoals gedefinieerd in de Regeling Ammoniak en Veehouderij.</documentation>
    </annotation>
  </element>
  <complexType name="HuisvestingssysteemType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="cimlk:NEN3610IDPropertyType">
            <annotation>
              <documentation>De unieke identificatie van een huisvestingssysteem deze bevat de code van het huisvestingssysteem zoals vastgesteld in de Regeling Ammoniak en Veehouderij.</documentation>
            </annotation>
          </element>
          <element name="omschrijving" type="string">
            <annotation>
              <documentation>Een beschrijving van het staltype op basis van de RAV factor code.</documentation>
            </annotation>
          </element>
          <element name="emissiefactorPM10" type="integer">
            <annotation>
              <documentation>De op basis van de RAV factor code berekende emissie factor voor PM10.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HuisvestingssysteemPropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:Huisvestingssysteem"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="JurisdictietypeType">
    <annotation>
      <documentation>Een waardelijst waarin onderscheid wordt gemaakt tussen de verschillende soorten jurisdicties.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="G"/>
      <enumeration value="P"/>
      <enumeration value="W"/>
      <enumeration value="R"/>
    </restriction>
  </simpleType>
  <element name="Maatregel" substitutionGroup="gml:AbstractFeature" type="cimlk:MaatregelType">
    <annotation>
      <documentation>Een bestuurlijke beslissing waarin een emissiemaatregel is gedefinieerd.</documentation>
    </annotation>
  </element>
  <complexType name="MaatregelType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="cimlk:NEN3610IDPropertyType">
            <annotation>
              <documentation>De unieke identificatie van een maatregelgebied voor wegverkeer.</documentation>
            </annotation>
          </element>
          <element name="naam" type="string">
            <annotation>
              <documentation>Een verzameling woorden die praktisch worden gebruikt om een maatregel te duiden.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="maatregelfactoren">
            <annotation>
              <documentation>Specificatie van de combinaties van voertuigtype en snelheidstype waarvoor een maatregel geldt.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="cimlk:Maatregelfactor"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="tijdstipRegistratie" type="dateTime">
            <annotation>
              <documentation>Tijdstip waarop deze versie van het informatieobject is opgenomen in de registratie.</documentation>
            </annotation>
          </element>
          <element name="geometrie" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>Geometrie die de ligging en vorm van het maatregelgebied beschrijft.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MaatregelPropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:Maatregel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Maatregelfactor" substitutionGroup="gml:AbstractFeature" type="cimlk:MaatregelfactorType">
    <annotation>
      <documentation>Specificatie van de combinatie van een stof, voertuigtype en snelheidstype waarvoor emissies met een opgegeven factor worden geschaald.</documentation>
    </annotation>
  </element>
  <complexType name="MaatregelfactorType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="voertuigtype" type="cimlk:WegverkeerVoertuigtypeType">
            <annotation>
              <documentation>Type voertuig waar schalingsfactor invloed op heeft.</documentation>
            </annotation>
          </element>
          <element name="wegsoort" type="cimlk:WegsoortType">
            <annotation>
              <documentation>Het soort weg vanuit het perspectief van snelheid en doorstroming.</documentation>
            </annotation>
          </element>
          <element name="stof" type="cimlk:WegverkeerStofType">
            <annotation>
              <documentation>De stof waar de maatregel effect op heeft.</documentation>
            </annotation>
          </element>
          <element name="schalingsfactor" type="double">
            <annotation>
              <documentation>De factor waarmee de emissies worden vermenigvuldigd binnen het maatregelgebied.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MaatregelfactorPropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:Maatregelfactor"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="NEN3610ID" substitutionGroup="gml:AbstractObject" type="cimlk:NEN3610IDType">
    <annotation>
      <documentation>Unieke identificatie van het object binnen het domein van NEN 3610.</documentation>
    </annotation>
  </element>
  <complexType name="NEN3610IDType">
    <sequence>
      <element name="namespace" type="string">
        <annotation>
          <documentation>Unieke verwijzing naar een registratie van objecten.</documentation>
        </annotation>
      </element>
      <element name="lokaalID" type="string">
        <annotation>
          <documentation>Unieke identificatiecode binnen een registratie.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="versie" type="string">
        <annotation>
          <documentation>Versie-aanduiding van een object.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="NEN3610IDPropertyType">
    <sequence>
      <element ref="cimlk:NEN3610ID"/>
    </sequence>
  </complexType>
  <element name="Organisatie" substitutionGroup="gml:AbstractFeature" type="cimlk:OrganisatieType">
    <annotation>
      <documentation>Een bestuurlijke organisatie die gegevens aanlevert voor wegverkeer en/of veehouderijen.</documentation>
    </annotation>
  </element>
  <complexType name="OrganisatieType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="kvkNummer" type="integer">
            <annotation>
              <documentation>Het KvK-nummer van de overheidsorganisatie die bronhouder is van de gegevens.</documentation>
            </annotation>
          </element>
          <element name="naam" type="string">
            <annotation>
              <documentation>De naam van de organisatie.</documentation>
            </annotation>
          </element>
          <element name="typeOverheid" type="cimlk:JurisdictietypeType">
            <annotation>
              <documentation>Een code die aangeeft of de organisatie een gemeente, provincie, waterschap of rijksoverheidsorganisatie is.</documentation>
            </annotation>
          </element>
          <element name="geometrie" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>De bestuurlijke grens van de organisatie.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OrganisatiePropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:Organisatie"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Overdrachtskenmerken" substitutionGroup="gml:AbstractObject" type="cimlk:OverdrachtskenmerkenType">
    <annotation>
      <documentation>Kenmerken die voor een SRM1 berekening worden gedefinieerd.</documentation>
    </annotation>
  </element>
  <complexType name="OverdrachtskenmerkenType">
    <sequence>
      <element name="bebouwingstype" type="cimlk:BebouwingstypeType">
        <annotation>
          <documentation>De mate van bebouwing op de virtuele lijn tussen wegdeel en receptor voor een SRM1 berekening.</documentation>
        </annotation>
      </element>
      <element name="bomenfactor" type="cimlk:WegverkeerBomenfactorType">
        <annotation>
          <documentation>De mate waarin bomen aanwezig zijn rondom het wegdeel.</documentation>
        </annotation>
      </element>
      <element name="wegdeel" type="cimlk:WegdeelPropertyType"/>
    </sequence>
  </complexType>
  <complexType name="OverdrachtskenmerkenPropertyType">
    <sequence>
      <element ref="cimlk:Overdrachtskenmerken"/>
    </sequence>
  </complexType>
  <element name="Overdrachtsobject" substitutionGroup="gml:AbstractObject" type="cimlk:OverdrachtsobjectType">
    <annotation>
      <documentation>Een object dat invloed heeft op de verspreiding van emissies van wegverkeer op de weg.</documentation>
    </annotation>
  </element>
  <complexType name="OverdrachtsobjectType">
    <sequence>
      <element name="soort" type="cimlk:OverdrachtsobjectSoortType">
        <annotation>
          <documentation>Beschrijft het overdrachtsobject dat zich langs het wegdeel bevindt.</documentation>
        </annotation>
      </element>
      <element name="afstand" type="integer">
        <annotation>
          <documentation>Geeft de afstand aan tussen het overdrachtsobject en de wegas.</documentation>
        </annotation>
      </element>
      <element name="hoogte" type="double">
        <annotation>
          <documentation>De hoogte van het overdrachtsobject langs een wegdeel.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="OverdrachtsobjectPropertyType">
    <sequence>
      <element ref="cimlk:Overdrachtsobject"/>
    </sequence>
  </complexType>
  <simpleType name="OverdrachtsobjectSoortType">
    <annotation>
      <documentation>Een waardelijst die verschillende vormen van overdrachtsobjecten langs een weg beschrijft.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="s">
        <annotation>
          <documentation>Scherm: Een overdrachtsobject in de vorm van scherm.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="w">
        <annotation>
          <documentation>Wal: Een overdrachtsobject in de vorm van een wal.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element abstract="true" name="Receptor" substitutionGroup="gml:AbstractFeature" type="cimlk:ReceptorType">
    <annotation>
      <documentation>Locatie waarop de concentratie wordt berekend als gevolg van emissies.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="ReceptorType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="cimlk:NEN3610IDPropertyType">
            <annotation>
              <documentation>De unieke identificatie van een receptor.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="naam" type="string">
            <annotation>
              <documentation>Een verzameling woorden die praktisch worden gebruikt om een receptor te duiden.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="opmerking" type="string">
            <annotation>
              <documentation>Opmerkingen die betrekking hebben op de ingevulde waarden.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="identificatiePandBAG" type="string">
            <annotation>
              <documentation>Verwijzing naar de identificatie van het pand zoals opgenomen in de Basisregistratie Adressen en Gebouwen (BAG).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tijdstipRegistratie" type="dateTime">
            <annotation>
              <documentation>Tijdstip waarop deze versie van het informatieobject is opgenomen in de registratie.</documentation>
            </annotation>
          </element>
          <element name="geometrie" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometrie die de ligging van de receptor beschrijft.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReceptorPropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:Receptor"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ReceptorGrondslagVeehouderijType">
    <annotation>
      <documentation>Een waardelijst met waarden die de grondslag beschrijven waarom een punt wel of geen toetspunt is voor veehouderijen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>Burgerwoning: Burgerwoning waarop getoetst moet worden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>Eigen bedrijfswoning: Bedrijfswoning op terrein van de eigen veehouderij</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>Bedrijfswoning van naastgelegen inrichting: De bedrijfswoning van een (naastgelegen) veehouderij wordt wel beschermd tegen de belasting van fijnstof afkomstig van de veehouderijen in de omgeving maar niet beschermd tegen de belasting van fijnstof afkomstig van de eigen veehouderij.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>Plattelandswoning: Plattelandswoningen als bedoeld in de Wet plattelandswoningen zijn planologisch onderdeel van het bedrijfsterrein, maar mogen worden bewoond door personen die geen binding hebben met het bedrijf. De plattelandswoning krijgt geen bescherming tegen de veehouderij op het bedrijfsterrein, met uitzondering van fijnstof.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>Overig: Overig pand die niet tot de andere categorien behoort</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ReceptorGrondslagWegverkeerType">
    <annotation>
      <documentation>Een waardelijst met waarden die de grondslag beschrijven waarom een punt wel of geen toetspunt is voor wegverkeer.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>NSL-toetspunt: NSL-toetspunt waarop getoetst wordt aan de normwaarden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>Toepasbaarheidbeginsel: Het toepasbaarheidsbeginsel stelt dat niet getoetst hoeft te worden op plaatsen waar geen mensen mogen en kunnen komen, terreinen met één of meer inrichtingen  waar al regels gelden voor de gezondheid en veiligheid van werknemers en op de weginrichting zelf (rijbanen en middenberm).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>Blootstellingcriterium: Het blootstellingscriterium stelt dat getoetst moet worden op punten waar een persoon kan worden blootgesteld gedurende een periode die in vergelijking met de middelingstijd van de betreffende luchtkwaliteitseis significant is.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>Overig: Overige reden waarom dit geen toetspunt is. De reden kan onder 'opmerking' worden opgegeven.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="ReceptorVeehouderij" substitutionGroup="cimlk:Receptor" type="cimlk:ReceptorVeehouderijType">
    <annotation>
      <documentation>Kenmerken van een locatie waarop de concentratie als gevolg van de veehouderijbrage wordt berekend.</documentation>
    </annotation>
  </element>
  <complexType name="ReceptorVeehouderijType">
    <complexContent>
      <extension base="cimlk:ReceptorType">
        <sequence>
          <element name="toetspuntSoort" type="cimlk:ToetspuntVeehouderijType">
            <annotation>
              <documentation>Geeft aan voor welke stof/stoffen het punt een toetspunt is.</documentation>
            </annotation>
          </element>
          <element name="grondslag" type="cimlk:ReceptorGrondslagVeehouderijType">
            <annotation>
              <documentation>De wettelijke basis voor het wel of niet moeten beoordelen van de luchtkwaliteit op de specifieke locatie voor veehouderijen.</documentation>
            </annotation>
          </element>
          <element name="veehouderij" type="cimlk:VeehouderijPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReceptorVeehouderijPropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:ReceptorVeehouderij"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ReceptorWegverkeer" substitutionGroup="cimlk:Receptor" type="cimlk:ReceptorWegverkeerType">
    <annotation>
      <documentation>Kenmerken van een locatie waarop de concentratie als gevolg van de wegbijdrage wordt berekend.</documentation>
    </annotation>
  </element>
  <complexType name="ReceptorWegverkeerType">
    <complexContent>
      <extension base="cimlk:ReceptorType">
        <sequence>
          <element name="toetspuntSoort" type="cimlk:ToetspuntWegverkeerType">
            <annotation>
              <documentation>Geeft aan voor welke stof/stoffen het punt een toetspunt is.</documentation>
            </annotation>
          </element>
          <element name="grondslag" type="cimlk:ReceptorGrondslagWegverkeerType">
            <annotation>
              <documentation>De wettelijke basis voor het wel of niet moeten beoordelen van de luchtkwaliteit op de specifieke locatie voor wegverkeer.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="overdrachtskenmerken" type="cimlk:OverdrachtskenmerkenPropertyType">
            <annotation>
              <documentation>Verzameling kenmerken behorende bij de virtuele lijn tussen het wegdeel en de receptor zoals die voor een SRM1 berekening worden gedefinieerd.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReceptorWegverkeerPropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:ReceptorWegverkeer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="RekenmethodeType">
    <annotation>
      <documentation>Een waardelijst die de verschillende voorgeschreven rekenmethoden voor wegverkeer bevat.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="SRM1">
        <annotation>
          <documentation>Standaard Reken Methode 1: Rekenmethode voor wegen binnen de bebouwde kom.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="SRM2">
        <annotation>
          <documentation>Standaard Reken Methode 2: Rekenmethode voor (snel)wegen.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="RekenresultaatVeehouderij" substitutionGroup="gml:AbstractFeature" type="cimlk:RekenresultaatVeehouderijType">
    <annotation>
      <documentation>De berekende concentraties van een luchtkwaliteitsberekening voor veehouderijen inclusief de concentratieopbouw en informatie over de gebruikte versie van de rekentool en het rekenjaar.</documentation>
    </annotation>
  </element>
  <complexType name="RekenresultaatVeehouderijType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="cimlk:NEN3610IDPropertyType">
            <annotation>
              <documentation>De unieke identificatie van een rekenresultaat.</documentation>
            </annotation>
          </element>
          <element name="rekentoolVersie" type="string">
            <annotation>
              <documentation>De versie van de rekentool waarmee de berekening is uitgevoerd.</documentation>
            </annotation>
          </element>
          <element name="rekenjaar" type="integer">
            <annotation>
              <documentation>Het jaartal waarvoor de berekening is uitgevoerd en waarop de resultaten betrekking hebben.</documentation>
            </annotation>
          </element>
          <element name="pm10Concentratie" type="double">
            <annotation>
              <documentation>De berekende totale PM10 concentratie op de receptor.</documentation>
            </annotation>
          </element>
          <element name="pm10BronbijdrageConcentratie" type="double">
            <annotation>
              <documentation>De berekende bronbijdrage voor PM10 concentraties op de receptor.</documentation>
            </annotation>
          </element>
          <element name="pm10AchtergrondConcentratie" type="double">
            <annotation>
              <documentation>PM10 achtergrondconcentratie waarmee gerekend is (inclusief correctie voor dubbeltelling).</documentation>
            </annotation>
          </element>
          <element name="pm10GCNConcentratie" type="double">
            <annotation>
              <documentation>De grootschalige achtergrondconcentratie PM10.</documentation>
            </annotation>
          </element>
          <element name="pm10DubtelcorrectieConcentratie" type="double">
            <annotation>
              <documentation>Toegepaste dubbeltellingscorrectie voor de bijdrage van veehouderijen op de PM10 concentratie.</documentation>
            </annotation>
          </element>
          <element name="pm10Overschrijdingsdagen" type="double">
            <annotation>
              <documentation>Het berekende aantal overschrijdingsdagen op de receptor.</documentation>
            </annotation>
          </element>
          <element name="pm10BronbijdrageOverschrijdingsdagen" type="double">
            <annotation>
              <documentation>De berekende bronbijdrage voor PM10 overschrijdingsdagen op de receptor.</documentation>
            </annotation>
          </element>
          <element name="pm10AchtergrondOverschrijdingsdagen" type="double">
            <annotation>
              <documentation>PM10 overschrijdingsdagen op basis van de achtergrond waarmee gerekend is (inclusief correctie voor dubbeltelling).</documentation>
            </annotation>
          </element>
          <element name="pm10GCNOverschrijdingsdagen" type="double">
            <annotation>
              <documentation>Het aantal overschrijdingsdagen op basis van de GCN.</documentation>
            </annotation>
          </element>
          <element name="pm10DubtelcorrectieOverschrijdingsdagen" type="double">
            <annotation>
              <documentation>Toegepaste dubbeltellingscorrectie voor de bijdrage van veehouderijen op het aantal PM10 overschrijdingsdagen.</documentation>
            </annotation>
          </element>
          <element name="receptor" type="cimlk:ReceptorVeehouderijPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RekenresultaatVeehouderijPropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:RekenresultaatVeehouderij"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RekenresultaatWegverkeer" substitutionGroup="gml:AbstractFeature" type="cimlk:RekenresultaatWegverkeerType">
    <annotation>
      <documentation>De berekende concentraties van een luchtkwaliteitsberekening voor wegverkeer inclusief de concentratieopbouw en informatie over de gebruikte versie van de rekentool en het rekenjaar.</documentation>
    </annotation>
  </element>
  <complexType name="RekenresultaatWegverkeerType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="cimlk:NEN3610IDPropertyType">
            <annotation>
              <documentation>De unieke identificatie van een rekenresultaat.</documentation>
            </annotation>
          </element>
          <element name="rekentoolVersie" type="string">
            <annotation>
              <documentation>De versie van de rekentool waarmee de berekening is uitgevoerd.</documentation>
            </annotation>
          </element>
          <element name="rekenjaar" type="integer">
            <annotation>
              <documentation>Het jaartal waarvoor de berekening is uitgevoerd en waarop de resultaten betrekking hebben.</documentation>
            </annotation>
          </element>
          <element name="no2Concentratie" type="double">
            <annotation>
              <documentation>De berekende totale jaargemiddelde concentratie NO2 op de receptor.</documentation>
            </annotation>
          </element>
          <element name="noxSRM1" type="double">
            <annotation>
              <documentation>De berekende SRM1 bijdrage voor NOx op de receptor.</documentation>
            </annotation>
          </element>
          <element name="noxSRM2" type="double">
            <annotation>
              <documentation>De berekende SRM2 bijdrage voor NOx op de receptor.</documentation>
            </annotation>
          </element>
          <element name="no2SRM1DirecteUitstoot" type="double">
            <annotation>
              <documentation>De berekende SRM1 concentratie direct uitgestoten voor NO2 op de receptor.</documentation>
            </annotation>
          </element>
          <element name="no2SRM2DirecteUitstoot" type="double">
            <annotation>
              <documentation>De berekende SRM2 concentratie direct uitgestoten voor NO2 op de receptor.</documentation>
            </annotation>
          </element>
          <element name="no2SRMConversiebijdrage" type="double">
            <annotation>
              <documentation>De berekende conversiebijdrage van NO2 uit NO en O3.</documentation>
            </annotation>
          </element>
          <element name="no2AchtergrondConcentratie" type="double">
            <annotation>
              <documentation>NO2 achtergrondconcentratie waarmee gerekend is (inclusief correctie voor dubbeltelling, verfijningsvelden en puntcorrecties).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="no2GCN" type="double">
            <annotation>
              <documentation>De grootschalige achtergrondconcentratie NO2.</documentation>
            </annotation>
          </element>
          <element name="no2HWNdubtelcorrectie" type="double">
            <annotation>
              <documentation>Dubbeltellingscorrectie op NO2 voor de bijdrage van het hoofdwegennet.</documentation>
            </annotation>
          </element>
          <element name="no2GCNenEigenCorrectie" type="double">
            <annotation>
              <documentation>Correctiewaarde voor NO2 die kan bestaan uit een correctie op de GCN (bijv. Schiphol correctie) en/of een eigen correctie op de wegbijdrage als gevolg van een windtunnelonderzoek.</documentation>
            </annotation>
          </element>
          <element name="o3AchtergrondConcentratie" type="double">
            <annotation>
              <documentation>O3 achtergrond waarmee gerekend is (inclusief correctie voor dubbeltelling, verfijningsvelden en puntcorrecties).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="o3GCN" type="double">
            <annotation>
              <documentation>De grootschalige achtergrondconcentratie O3.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="o3HWNdubtelcorrectie" type="double">
            <annotation>
              <documentation>Dubbeltellingscorrectie op O3 voor de bijdrage van het hoofdwegennet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="o3GCNenEigenCorrectie" type="double">
            <annotation>
              <documentation>Correctiewaarde voor O3 die kan bestaan uit een correctie op de GCN (bijv. Schiphol correctie) en/of een eigen correctie op de wegbijdrage als gevolg van een windtunnelonderzoek.</documentation>
            </annotation>
          </element>
          <element name="pm10Concentratie" type="double">
            <annotation>
              <documentation>De berekende totale PM10 concentratie op de receptor.</documentation>
            </annotation>
          </element>
          <element name="pm10Overschrijdingsdagen" type="double">
            <annotation>
              <documentation>Het berekende aantal overschrijdingsdagen op de receptor.</documentation>
            </annotation>
          </element>
          <element name="pm10SRM1" type="double">
            <annotation>
              <documentation>De berekende SRM1 bijdrage voor PM10 op de receptor.</documentation>
            </annotation>
          </element>
          <element name="pm10SRM2" type="double">
            <annotation>
              <documentation>De berekende SRM2 bijdrage voor PM10 op de receptor.</documentation>
            </annotation>
          </element>
          <element name="pm10AchtergrondConcentratie" type="double">
            <annotation>
              <documentation>PM10 achtergrondconcentratie waarmee gerekend is (inclusief correctie voor dubbeltelling, verfijningsvelden en puntcorrecties).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="pm10GCN" type="double">
            <annotation>
              <documentation>De grootschalige achtergrondconcentratie PM10.</documentation>
            </annotation>
          </element>
          <element name="pm10HWNdubtelcorrectie" type="double">
            <annotation>
              <documentation>Toegepaste dubbeltellingscorrectie voor de bijdrage van hoofdwegennet op PM10.</documentation>
            </annotation>
          </element>
          <element name="pm10GCNenEigenCorrectie" type="double">
            <annotation>
              <documentation>Correctiewaarde voor PM10 die kan bestaan uit een correctie op de GCN (bijv. IJmond correctie) en/of een eigen correctie op de wegbijdrage als gevolg van een windtunnelonderzoek.</documentation>
            </annotation>
          </element>
          <element name="pm25Concentratie" type="double">
            <annotation>
              <documentation>De berekende totale jaargemiddelde concentratie PM2.5 op de receptor.</documentation>
            </annotation>
          </element>
          <element name="pm25SRM1" type="double">
            <annotation>
              <documentation>De berekende SRM1 bijdrage voor PM2.5 op de receptor.</documentation>
            </annotation>
          </element>
          <element name="pm25SRM2" type="double">
            <annotation>
              <documentation>De berekende SRM2 bijdrage voor PM2.5 op de receptor.</documentation>
            </annotation>
          </element>
          <element name="pm25AchtergrondConcentratie" type="double">
            <annotation>
              <documentation>PM2.5 achtergrondconcentratie waarmee gerekend is (inclusief correctie voor dubbeltelling, verfijningsvelden en puntcorrecties).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="pm25GCN" type="double">
            <annotation>
              <documentation>De grootschalige achtergrondconcentratie PM2.5.</documentation>
            </annotation>
          </element>
          <element name="pm25HWNdubtelcorrectie" type="double">
            <annotation>
              <documentation>Toegepaste dubbeltellingscorrectie voor de bijdrage van hoofdwegennet op PM2.5.</documentation>
            </annotation>
          </element>
          <element name="pm25GCNenEigenCorrectie" type="double">
            <annotation>
              <documentation>Correctiewaarde voor PM2.5 die kan bestaan uit een correctie op de GCN (waaronder Schiphol en IJmond correcties) en/of een eigen correctie op de wegbijdrage als gevolg van een windtunnelonderzoek.</documentation>
            </annotation>
          </element>
          <element name="ecConcentratie" type="double">
            <annotation>
              <documentation>De berekende totale jaargemiddelde concentratie EC op de receptor.</documentation>
            </annotation>
          </element>
          <element name="ecSRM1" type="double">
            <annotation>
              <documentation>De berekende SRM1 bijdrage voor EC op de receptor.</documentation>
            </annotation>
          </element>
          <element name="ecSRM2" type="double">
            <annotation>
              <documentation>De berekende SRM2 bijdrage voor EC op de receptor.</documentation>
            </annotation>
          </element>
          <element name="ecAchtergrondConcentratie" type="double">
            <annotation>
              <documentation>EC achtergrondconcentratie waarmee gerekend is (inclusief correctie voor dubbeltelling, verfijningsvelden en puntcorrecties).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="ecGCN" type="double">
            <annotation>
              <documentation>De grootschalige achtergrondconcentratie EC.</documentation>
            </annotation>
          </element>
          <element name="ecHWNdubtelcorrectie" type="double">
            <annotation>
              <documentation>Toegepaste dubbeltellingscorrectie voor de bijdrage van hoofdwegennet op EC.</documentation>
            </annotation>
          </element>
          <element name="ecGCNenEigenCorrectie" type="double">
            <annotation>
              <documentation>Correctiewaarde voor EC die kan bestaan uit een correctie op de GCN en/of een eigen correctie op de wegbijdrage als gevolg van een windtunnelonderzoek.</documentation>
            </annotation>
          </element>
          <element name="receptor" type="cimlk:ReceptorWegverkeerPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RekenresultaatWegverkeerPropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:RekenresultaatWegverkeer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Stal" substitutionGroup="gml:AbstractFeature" type="cimlk:StalType">
    <annotation>
      <documentation>Een inrichting waarbinnen zich vee bevindt.</documentation>
    </annotation>
  </element>
  <complexType name="StalType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="cimlk:NEN3610IDPropertyType">
            <annotation>
              <documentation>De unieke identificatie van een stal van een veehouderij.</documentation>
            </annotation>
          </element>
          <element name="lengte" type="double">
            <annotation>
              <documentation>De grootste afmeting van een als rechthoek gedefinieerde stal.</documentation>
            </annotation>
          </element>
          <element name="breedte" type="double">
            <annotation>
              <documentation>De kleinste afmeting van een als rechthoek gedefinieerde stal.</documentation>
            </annotation>
          </element>
          <element name="hoogte" type="double">
            <annotation>
              <documentation>De hoogte van de stal boven maaiveld.</documentation>
            </annotation>
          </element>
          <element name="orientatie" type="integer">
            <annotation>
              <documentation>De hoek in graden tussen de lange zijde van de stal en de x-as van het RD coördinatenstelsel (0 tot 180 graden).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="identificatiePandBAG" type="string">
            <annotation>
              <documentation>Verwijzing naar de identificatie van het pand zoals opgenomen in de Basisregistratie Adressen en Gebouwen (BAG).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tijdstipRegistratie" type="dateTime">
            <annotation>
              <documentation>Tijdstip waarop deze versie van het informatieobject is opgenomen in de registratie.</documentation>
            </annotation>
          </element>
          <element name="geometrie" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometrie die het middelpunt (centro&amp;#239de) van de stal beschrijft.</documentation>
            </annotation>
          </element>
          <element name="veehouderij" type="cimlk:VeehouderijPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StalPropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:Stal"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="TaludSoortType">
    <annotation>
      <documentation>Een waardelijst die de verschillende vormen van talud beschrijft langs een wegdeel.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="zvz">
        <annotation>
          <documentation>Zeer vlakke zijkanten: Talud met aan beide kanten zeer vlakke zijkanten (HOEK SPECIFICEREN).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="vz">
        <annotation>
          <documentation>Vlakke zijkanten: Talud met aan beide kanten vlakke zijkanten (HOEK SPECIFICEREN).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="sz">
        <annotation>
          <documentation>Scherpe zijkanten: Talud met aan beide kanten scherpe zijkanten (HOEK SPECIFICEREN).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="v">
        <annotation>
          <documentation>Viaduct: Talud aan beide kanten begrensd door een viaduct.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="t">
        <annotation>
          <documentation>Tunnelbak: Talud aan beide kanten begrensd door een tunnelbak.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ToetspuntVeehouderijType">
    <annotation>
      <documentation>Een waardelijst die beschrijft voor welke stof of stoffen de receptor een toetspunt is voor veehouderijen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Alle">
        <annotation>
          <documentation>Alle stoffen: Toetspunt voor alle stoffen waarvoor de berekening wordt uitgevoerd.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Geen">
        <annotation>
          <documentation>Geen toetspunt: Voor geen van de stoffen waarvoor de berekening wordt uitgevoerd is het een toetspunt.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ToetspuntWegverkeerType">
    <annotation>
      <documentation>Een waardelijst die beschrijft voor welke stof of stoffen de receptor een toetspunt is voor wegverkeer.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Alle">
        <annotation>
          <documentation>Alle stoffen: Toetspunt voor alle stoffen waarvoor de berekening wordt uitgevoerd.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PM10">
        <annotation>
          <documentation>PM10: Toetspunt voor de stof PM10 maar niet voor de andere stoffen waarvoor de berekning wordt uitgevoerd.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Geen">
        <annotation>
          <documentation>Geen toetspunt: Voor geen van de stoffen waarvoor de berekening wordt uitgevoerd is het een toetspunt.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="Veehouderij" substitutionGroup="gml:AbstractFeature" type="cimlk:VeehouderijType">
    <annotation>
      <documentation>Een bedrijf waar men vee houdt.</documentation>
    </annotation>
  </element>
  <complexType name="VeehouderijType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="cimlk:NEN3610IDPropertyType">
            <annotation>
              <documentation>De unieke identificatie van een veehouderij.</documentation>
            </annotation>
          </element>
          <element name="adres" type="string">
            <annotation>
              <documentation>Adresgegevens van het desbetreffende bedrijf.</documentation>
            </annotation>
          </element>
          <element name="datumVergunning" type="date">
            <annotation>
              <documentation>De datum waarop de verstrekte milieuvergunning is afgegeven.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tijdstipRegistratie" type="dateTime">
            <annotation>
              <documentation>Tijdstip waarop deze versie van het informatieobject is opgenomen in de registratie.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VeehouderijPropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:Veehouderij"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Veehouderijbron" substitutionGroup="gml:AbstractFeature" type="cimlk:VeehouderijbronType">
    <annotation>
      <documentation>Een plaats aan of nabij een stal waar de emissies vanuit die stal in de buitenlucht komen.</documentation>
    </annotation>
  </element>
  <complexType name="VeehouderijbronType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="cimlk:NEN3610IDPropertyType">
            <annotation>
              <documentation>De unieke identificatie van een emissiebron van een veehouderij.</documentation>
            </annotation>
          </element>
          <element name="hoogte" type="double">
            <annotation>
              <documentation>De hoogte van de veehouderijbron boven maaiveld.</documentation>
            </annotation>
          </element>
          <element name="diameter" type="double">
            <annotation>
              <documentation>De grootst mogelijke afstand tussen twee punten op cirkel van de veehouderijbron.</documentation>
            </annotation>
          </element>
          <element name="uittreesnelheid" type="double">
            <annotation>
              <documentation>De snelheid waarmee de emissie vrij komt in de verticale richting.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="emissiespecificaties" type="cimlk:EmissiespecificatiePropertyType">
            <annotation>
              <documentation>Een verzameling kenmerken van een veehouderijbron die relevant is om de hoeveelheid emissie van die  veehouderijbron te bepalen.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tijdstipRegistratie" type="dateTime">
            <annotation>
              <documentation>Tijdstip waarop deze versie van het informatieobject is opgenomen in de registratie.</documentation>
            </annotation>
          </element>
          <element name="geometrie" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometrie die de ligging van de emissiebron beschrijft.</documentation>
            </annotation>
          </element>
          <element name="stal" type="cimlk:StalPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VeehouderijbronPropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:Veehouderijbron"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VerkeersgegevensWeg" substitutionGroup="gml:AbstractObject" type="cimlk:VerkeersgegevensWegType">
    <annotation>
      <documentation>Specificatie van alle voor luchtkwaliteit relevante kenmerken van het verkeer dat over een wegdeel gaat.</documentation>
    </annotation>
  </element>
  <complexType name="VerkeersgegevensWegType">
    <sequence>
      <element name="voertuigtype" type="cimlk:WegverkeerVoertuigtypeType">
        <annotation>
          <documentation>E&amp;#233n van de typen voertuigen: licht verkeer, licht verkeer dynamisch, middelzwaar verkeer, zwaar verkeer of bus verkeer.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="stagnatiefactor" type="double">
        <annotation>
          <documentation>Het aandeel van de opgegeven intensiteit dat stagnatie ondervindt.</documentation>
        </annotation>
      </element>
      <element name="intensiteit" type="integer">
        <annotation>
          <documentation>Het jaargemiddelde aantal motorvoertuigen per etmaal.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="VerkeersgegevensWegPropertyType">
    <sequence>
      <element ref="cimlk:VerkeersgegevensWeg"/>
    </sequence>
  </complexType>
  <element name="Wegdeel" substitutionGroup="gml:AbstractFeature" type="cimlk:WegdeelType">
    <annotation>
      <documentation>Een deel van een weg waarvan de eigenschappen, die van invloed zijn op de concentraties luchtverontreinigende stoffen, gelijk blijven.</documentation>
    </annotation>
  </element>
  <complexType name="WegdeelType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="cimlk:NEN3610IDPropertyType">
            <annotation>
              <documentation>De unieke identificatie van een deel van een weg.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="straatnaam" type="string">
            <annotation>
              <documentation>De straatnaam zoals als aangeduid in het NWB of een eigen beschrijving wanneer de straat in het NWB niet bestaat.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="wegnummer" type="string">
            <annotation>
              <documentation>Het wegnummer zoals aangeduid in het NWB.</documentation>
            </annotation>
          </element>
          <element name="rekenmethode" type="cimlk:RekenmethodeType">
            <annotation>
              <documentation>Geeft aan of SRM1 of SRM2 van toepassing is op het wegdeel.</documentation>
            </annotation>
          </element>
          <element name="wegsoort" type="cimlk:WegsoortType">
            <annotation>
              <documentation>Het soort weg vanuit het perspectief van snelheid en doorstroming.</documentation>
            </annotation>
          </element>
          <element name="maximumsnelheid" type="integer">
            <annotation>
              <documentation>Wettelijke maximumsnelheid op het wegdeel. Voor wegdelen met een dynamische maximumsnelheid wordt hier de laagste maximumsnelheid aangegeven.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="maximumsnelheidDynamisch" type="integer">
            <annotation>
              <documentation>Voor wegdelen waarop de maximumsnelheid dynamisch is, geeft dit de hoogste maximumsnelheid op het wegdeel aan.</documentation>
            </annotation>
          </element>
          <element name="tunnelfactor" type="double">
            <annotation>
              <documentation>De factor waarmee de emissies worden vermenigvuldigd om te corrigeren voor emissies uit een tunnelmond.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="hoogte" type="integer">
            <annotation>
              <documentation>De gemiddelde hoogte van het wegdeel t.o.v. omringend maaiveld</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="taludSoort" type="cimlk:TaludSoortType">
            <annotation>
              <documentation>Het soort talud dat het wegdeel aan beide kanten begrensd.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="opmerking" type="string"/>
          <element maxOccurs="unbounded" name="verkeersgegevens" type="cimlk:VerkeersgegevensWegPropertyType">
            <annotation>
              <documentation>Specificatie van alle voor luchtkwaliteit relevante kenmerken van het verkeer dat over een wegdeel gaat.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="overdrachtsobjectLinks" type="cimlk:OverdrachtsobjectPropertyType">
            <annotation>
              <documentation>Overdrachtsobject aan de linkerkant van een wegdeel gezien vanuit de rijrichting.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="overdrachtsobjectRechts" type="cimlk:OverdrachtsobjectPropertyType">
            <annotation>
              <documentation>Overdrachtsobject aan de rechterkant van een wegdeel gezien vanuit de rijrichting.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tijdstipRegistratie" type="dateTime">
            <annotation>
              <documentation>Tijdstip waarop deze versie van het informatieobject is opgenomen in de registratie.</documentation>
            </annotation>
          </element>
          <element name="geometrie" type="gml:CurvePropertyType">
            <annotation>
              <documentation>Geometrie die de ligging  van het Wegdeel beschrijft.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WegdeelPropertyType">
    <sequence minOccurs="0">
      <element ref="cimlk:Wegdeel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="WegsoortType">
    <annotation>
      <documentation>Een waardelijst die onderscheid maakt in wegsoorten op basis waarvan de bijbehorende emissiefactor voor de weg kan worden bepaald.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="b">
        <annotation>
          <documentation>Buitenweg algemeen: Typisch buitenwegverkeer, een gemiddelde snelheid van ongeveer 60 km/h, gemiddeld ca. 0,2 stops per afgelegde km.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="c">
        <annotation>
          <documentation>Normaal stadsverkeer: Typisch stadsverkeer met een redelijke mate van congestie, een gemiddelde snelheid tussen de 15 en 30 km/h, gemiddeld ca. 2 stops per afgelegde km.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="d">
        <annotation>
          <documentation>Stagnerend stadsverkeer: Stadsverkeer met een grote mate van congestie, een gemiddelde snelheid kleiner dan 15 km/h, gemiddeld ca. 10 stops per afgelegde km.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="e">
        <annotation>
          <documentation>Stadsverkeer met minder congestie: Stadsverkeer met een relatief groter aandeel “free-flow” rijgedrag, een gemiddelde snelheid tussen de 30 en 45 km/h, gemiddeld ca. 1,5 stop per afgelegde km.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="92">
        <annotation>
          <documentation>Buitenweg: Weg van het onderliggende wegennet met een breed profiel.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="93">
        <annotation>
          <documentation>Snelweg: (snel)weg van het hoofdwegennet met een breed profiel.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="94">
        <annotation>
          <documentation>Snelweg met strikte handhaving: (snel)weg van het hoofdwegennet met een breed profiel en toepassing van strikte handhaving op de snelheid.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="WegverkeerBomenfactorType">
    <annotation>
      <documentation>Een waardelijst met waarden die mate van bomen langs een weg aangeven.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>Enkele bomen: Hier en daar bomen of in het geheel niet.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1.25">
        <annotation>
          <documentation>Meerdere bomen: Een of meer rijen bomen met een onderlinge afstand &lt; 15 meter met openingen tussen de kronen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1.5">
        <annotation>
          <documentation>Grote hoeveelheid bomen: De kronen raken elkaar en overspannen minstens een derde gedeelte van de straatbreedte.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="WegverkeerStofType">
    <annotation>
      <documentation>Een waardelijst met de stoffen waarop een correctie van toepassing kan zijn.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="EC">
        <annotation>
          <documentation>EC: Elementair koolstof</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO2">
        <annotation>
          <documentation>NO2: Stikstofdioxide</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NOx">
        <annotation>
          <documentation>NOx: Stikstofoxiden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="O3">
        <annotation>
          <documentation>O3: Ozon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PM10">
        <annotation>
          <documentation>PM10: Fijnstof &lt;10 micrometer</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PM2.5">
        <annotation>
          <documentation>PM2,5: Fijnstof &lt;2.5 micrometer</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="WegverkeerVoertuigtypeType">
    <annotation>
      <documentation>Een waardelijst met waarin onderscheid wordt gemaakt tussen verschillende voertuigtypen waarop een maatregel van toepassing kan zijn.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="b">
        <annotation>
          <documentation>Bus verkeer: Voor bussen op binnenstedelijke wegen heeft de Monitoringstool een aparte categorie. Dit komt doordat overheden via de aanbesteding invloed uit kunnen oefenen op de emissies per voertuig. Deze emissies zijn daardoor vaak anders dan die van 'middelzwaar verkeer'.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="l">
        <annotation>
          <documentation>Licht verkeer: Motorvoertuigen op 3 of meer wielen, met uitzondering van de voertuigen uit de categorieën 'middelzware' en 'zware' voertuigen. Hieronder vallen alle personenauto's, de meeste bestelauto's en vrachtwagens met 4 wielen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="m">
        <annotation>
          <documentation>Middelzwaar verkeer: Gelede en ongelede autobussen, en andere motorvoertuigen die ongeleed zijn en voorzien van 1 achteras met 4 banden. Hieronder vallen alle autobussen en vrachtwagens met 2 assen en 4 achterwielen. Voor binnenstedelijke wegen geldt dat er een aparte categorie is voor busverkeer.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="z">
        <annotation>
          <documentation>Zwaar verkeer: Gelede motorvoertuigen en motorvoertuigen met een dubbele achteras, met uitzondering van autobussen. Hieronder vallen vrachtwagens met 3 of meer assen, vrachtwagens met aanhanger en trekkers met oplegger.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ld">
        <annotation>
          <documentation>Licht verkeer dynamisch: Een aparte categorie voor het lichtverkeer dat met de maximumsnelheidDynamisch over het wegdeel rijdt. De voertuigcategorie is hetzelfde als voor licht verkeer: motorvoertuigen op 3 of meer wielen, met uitzondering van de voertuigen uit de categorieën 'middelzware' en 'zware' voertuigen. Hieronder vallen alle personenauto's, de meeste bestelauto's en vrachtwagens met 4 wielen.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
